$primary: #2E7349;
$primary-100: #2E73491A;
$primary-600: #2E734999;
$primary-800: #2E7349CC;
$primary-900: #2E7349E6;
$secondary: #FF7D26;
$white: rgb(255, 255, 255);
$black: #000000;
$gray-100: #E3E3E3;
$gray-500: #929292;


:root {
  --primary: #2E7349;
  --primary-100: #2E73491A;
  --primary-600: #2E734999;
  --primary-800: #2E7349CC;
  --primary-900: #2E7349E6;
  --secondary: #FF7D26;
  --white: 255, 255, 255;
  --black: #000000;
  --gray-100: #E3E3E3;
  --gray-500: #929292;
}